{%extends "base_bootsrap.html" %}
 {% block head %}
 <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
 {% endblock %}      
{% block content%}

<div class="container">

     
        {% if book_list %}
        <ul>
             {% for book in book_list %}
             <div class="row">
             <li><a href="{% url 'backend:book_detail' book.id %}">{{book}} </a> 
                {{book.quantity}}pcs
                 <a href="#"  id="inc_{{book.id}}"
                    onclick="
                         inc('{% url 'backend:book_inc' book.id %}', {{book.id}}); return false;
                    "
                 >
                <i class="fas fa-plus" id="plus_{{book.id}}" style="color: rgb(82, 197, 29)"></i>
                 </a>
                 <a href="#"  id="dec_{{book.id}}"
                 onclick="
                      dec('{% url 'backend:book_dec' book.id %}', {{book.id}}); return false;
                 "
                 >
                 <i class="fas fa-minus" id="minus_{{book.id}}" style="color: rgb(82, 197, 29)"></i>
                 </a>

                 <a href="{% url 'backend:book_update' book.id %}">(Edit</a>
                 <a href="{% url 'backend:book_delete' book.id %}">Delete</a>)
             </li>
            </div>
             {%endfor%}

        </ul>
        {% else %}
           <p class="row">There are no books in the library database.</p>
        {% endif %}
       
            <p class="row">
             <a href="{% url 'backend:book_create' %}">Add a new book</a>
            </p>
        </div>    



        <script>


                function inc(url, book_id){
                    console.log('Requesting JSON');
                    $("#plus_"+book_id).css('color', 'white');
                    setTimeout(function(){$("#plus_"+book_id).css('color', 'rgb(82, 197, 29)');}, 50);
                    
                    $.post(url, {pk: book_id},  function(result){
                    console.log(url, 'finished');
                            
                    })
                           
                 }
            
            
                 function dec(url, book_id){
                    console.log('Requesting JSON');
                    $("#minus_"+book_id).css('color', 'white');
                    setTimeout(function(){$("#minus_"+book_id).css('color', 'rgb(82, 197, 29)');}, 50);
                    
                    $.post(url, {pk: book_id},  function(result){
                    console.log(url, 'finished');
                                   
                    })            
                 }
             </script>
 {%endblock%}

