{%extends "base_bootsrap.html" %}
{% load humanize %}
{% block content%}
       <div class="container">
                <div class="row">
                <p>book: {{book}}
                <br>Price: {{book.model.price}} sums
                <br>Quantity of the same type: {{book.model.get_quantity}}pcs
                <br>Genre: {{book.model.genre}}
                <br>IS_taken: {{book.is_taken}}
                {%if book.is_taken%}
                  <br>Taken by: {{book.taken_by}}
                  <br>Taken at: {{book.taken_at|naturaltime}}
               {%endif%}
     
                <br>Created at: {{book.created_at|naturaltime}}
                <br>Updated at: {{book.updated_at|naturaltime}}
          
                </div>
       </div>
       <p class="row">
           <a href="{% url 'backend:book_list' %}"> <i class="fas fa-minus"></i>Back to list of books</a>
           </p>
{% endblock %}