{%extends "base_bootsrap.html" %}
 {% block head %}
 <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
 {% endblock %}      
{% block content%}

<div class="container">

     
        {% if book_model_list %}
        <ul>
             {% for book_model in book_model_list %}
             <div class="row">
             <li><a href="{% url 'backend:book_model_detail' book_model.id %}">{{book_model}} </a> 
                <span id="book_model_qty_{{book_model.id}}">{{book_model.get_quantity}}</span>pcs
                 <a href="#"  id="inc_{{book_model.id}}"
                    onclick="
                         inc('{% url 'backend:book_model_inc' book_model.id %}', {{book_model.id}});
                         return false;
                    "
                 >
                <i class="fas fa-plus" id="plus_{{book_model.id}}" style="color: rgb(82, 197, 29)"></i>
                 </a>
                 <a href="#"  id="dec_{{book_model.id}}"
                 onclick="
                      dec('{% url 'backend:book_model_dec' book_model.id %}', {{book_model.id}}); return false;
                 "
                 >
                 <i class="fas fa-minus" id="minus_{{book_model.id}}" style="color: rgb(82, 197, 29)"></i>
                 </a>
                 
                 <input id="num_of_books_{{book_model.id}}" name="num_of_books_to_add" type="number" placeholder="num_of_books_to_add"></input>
                 <input type="submit" onclick=" 
                    num_of_books_to_add=$('#num_of_books_{{book_model.id}}').val()*1;
                    book_model_id='{{book_model.id}}'*1;
                    console.log(num_of_books_to_add);
                    add_set_of_books(book_model_id, num_of_books_to_add);
                    $('#num_of_books_{{book_model.id}}').val($('#num_of_books_{{book_model.id}}').placeholder);
                    return false;
                 "></input>
                 <a href="{% url 'backend:book_model_update' book_model.id %}">(Edit</a>
                 <a href="{% url 'backend:book_model_delete' book_model.id %}">Delete</a>)
             </li>
            </div>
             {%endfor%}

        </ul>
        {% else %}
           <p class="row">There are no book_models in the library database.</p>
        {% endif %}
       
            <p class="row">
             <a href="{% url 'backend:book_model_create' %}">Add a new book model</a>
            </p>
            <p class="row">
                <a href="{% url 'home:home' %}">Back to Home</a>
            </p>
        </div>    



        <script>
                function add_set_of_books(book_model_id, num_of_books_to_add){
                    console.log('Requesting JSON ');
                    url='{% url "backend:book_model_add_set"%}';
                    console.log(url);
                    //clear value field of input
                    $('#num_of_books_{{book_model_id}}').html(0);

                    var dic ={
                    "pk": book_model_id,
                    "num": num_of_books_to_add};

                    console.log("num of BOOK to ADD ",dic['num']);
                    console.log("Pk ", dic['pk']);
                    
                    $.ajax({type:"GET",
                    url: url,
                    data: {
                        "pk": book_model_id,
                        "num": num_of_books_to_add
                    },                     
                    success: function(result){
                        console.log(url, 'finished');
                        new_quantity = result.quantity
                        console.log(new_quantity);
                        $("#book_model_qty_"+book_model_id).html(new_quantity)
                                
                    },
                    error: 
                    function(result){
                        console.log(url, 'ERROR');                      
                    }

                    })
                }  
                           
                 

                function inc(url, book_model_id){
                    console.log('Requesting JSON');
                    $("#plus_"+book_model_id).css('color', 'white'); 
                    setTimeout(function(){$("#plus_"+book_model_id).css('color', 'rgb(82, 197, 29)');}, 10);
                    
                    $.post(url, 
                    function(result){
                    console.log(url, 'finished');
                    new_quantity = result.quantity;
                    console.log(new_quantity);
                    $("#book_model_qty_"+book_model_id).html(new_quantity)
                            
                    })

        
                           
                 }
            
            
                 function dec(url, book_model_id){
                    
                    console.log('Requesting JSON');
                    $("#minus_"+book_model_id).css('color', 'white');
                    setTimeout(function(){$("#minus_"+book_model_id).css('color', 'rgb(82, 197, 29)');}, 10);
                    
                    $.ajax({url: url, 
                        type: "POST", 
                        success: function(result){
                        console.log(url, 'finished'); 
                        if(result.error) {
                            alert(result.message);  
                            return;
                        }
                       /*  console.log($("#book_model_qty_"+book_model_id).html()-1);
                        $("#book_model_qty_"+book_model_id).html($("#book_model_qty_"+book_model_id).html()-1)
                         */
                        //get model_quantity
                        new_quantity = result.quantity;
                        console.log(new_quantity);
                        $("#book_model_qty_"+book_model_id).html(new_quantity)
                        
                        }, 
                        error: function(result){
                        console.log(url, 'ERROR');                      
                        }
                    })            
                 }
             </script>
 {%endblock%}

