{%extends "base_bootsrap.html" %}
{% load humanize %}
{% block content%}
       <div class="container">
                <div class="row">
                <p>book: {{book}}
                <!-- <br>Price: {{book_model.price}} sums
                <br>Quantity: {{book_model.quantity}}pcs
                <br>Genre: {{book_model.genre}}
                <br>Created at: {{book_model.created_at|naturaltime}}
                <br>Updated at: {{book_model.updated_at|naturaltime}}
                <br>Books: {{book_model.books}} -->
                <p class="row">
                <a href="{% url 'backend:book_update' book.id %}">(Edit</a>
                <a href="{% url 'backend:book_delete' book.id %}">Delete</a>)
                </p>
               </p>
                </div>
       </div>
       <p class="row">
            <a href="{% url 'backend:book_list' %}">Back to Main</a>
           </p>
{% endblock %}